*{
    margin: 0; padding: 0; overflow-x: hidden;
}

.heading, .footer{
    background-color: #c0c0c0d7;
}
.heading h1{
    font-family: sans-serif;
    padding: 15px 0 15px;
    color: #0a0a0a;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1c6f1;
    padding: 20px 0 20px 0;
    margin: 50px auto 50px;
    max-width: 600px;
}

.form-group{
    margin: 10px;
    font-size: 20px;
    max-width: fit-content;
    font-family: sans-serif;
}

.form-group label{
    font-weight: 600;
    display: block;
    text-align: center;
}

.form-group input, select{
    width: 250px;
    height: 30px;
    font-size: 18px;
    border: none;
}

.form-group input:focus{
    border: none;
}

.button-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button-group button{
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
}

.button-group #submit{
    background-color: #24d624de;
}

.button-group #reset{
    background-color: #4a87e4;
}

#hiddenform{
    visibility: hidden;
    position: relative;
    top: 70%;
    left: 35%;
    font-family: sans-serif;
    padding: 0 0 35px 0;
}

#hiddenform h2{
    font-size: 26px;
}
#hiddenform p,span{
    font-size: 18px;
}

.footer{
   position: sticky;
   bottom: 0;
   padding: 17px 0 17px 0;
   text-align: center;
   font-family: sans-serif;
}

@media (max-width: 800px){
    #hiddenform{
        left: 2%;
    }
    #hiddenform h2{
        font-size: 23px;
    }

}